body {
  background-color:#F8F9F9; 
  font-family:avenir;
}
a:link {
  color: #00BAA6;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #BDF6F0;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #008B7D;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #00AACB;
  background-color: transparent;
  text-decoration: none;
}
