/* Koko sivustoa koskevat tyylit. */
body {
  background-color:white;
  font-family: 'Roboto', verdana, arial, tahoma, sans-serif;
  font-weight: 300;
  text-align: center;
  margin: auto;
  font-size: 100%;
  scroll-behavior: smooth;
}

/* HEADERIN RAKENNE JA TYYLIT */
header {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.jpg'); /* Headerin taustakuva ja pimennys. */
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8.75em 0 1.5625em 0;
}

.header img { /* Henkilökuva */
  width: 35%; 
  max-width: 12.5em;
  padding: 0;
}

.header p {
  padding-top: 3em;
  color: white;
}

.header i { /* Nuoli alaspäin */
  font-size: 3em;
  color: #F8F9F9;
}

/*LINKKIEN VÄRIT*/
a:link, a:visited {
  color: violet;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* NAVIGOINTIPALKIN TYYLIT LAAJALLE NÄKYMÄLLE */
.menu a:link, .menu a:visited { 
  color:white;
  display:inline-block;
  padding: 1.09375em 1.5625em;
}

.menu a:hover {
  color: violet;
}

.menu ul { /* Navigointipalkki */
  list-style: none;
  margin: 0;
  padding: 0;
  height: 43.8px;
  width: 100%;
  text-align: right;
  background-color: rgba(0,0,0,0.2);
  float:left;
  position: fixed;
}

.menu li {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  font-size: 80%;
}

#nav_logo_1, #nav_logo_2 { /* Navigointipalkin vasen puoli, jossa etu- ja sukunimi. */
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  float: left;
  font-family: 'anton';
  color: white;
  margin: 0.38em 1.5625em;
  padding: 0;
}

/* NAVIGOINTIPALKIN TYYLIT MOBIILINÄKYMÄLLE */
.menu_2 { /* Mobiilinäkymän navigointipalkki ei ole näkyvillä, kun näyttö on 768px:ä suurempi. */
  display: none;
}

/* Mobiilinäkymän navigointipalkin dropdown. */
.dropbtn {
  box-sizing: border-box;
  height: 43.8px;
  background-color: transparent;
  color: white;
  padding: 0.9375em 2em 1em 2em;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(0,0,0,0.2);
  min-width: 768px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 1em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover:not(.active) {background-color: rgba(0,0,0,0.2)}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

/* OTSIKKOIDEN JA KAPPALEIDEN TYYLIT */
h2, h3 {
  color: black;
  font-family: 'Anton';
}

h2 {
  font-size: 1.5625em;
  padding-bottom: 1.25em;
  margin: 0;
}

h3 {
  font-size: 1.1875em;
}

p { 
  padding: 0 15%; /* Luo tekstin reunoihin tyhjää tilaa. */
  text-align: center;
}

/* FOOTERIN TYYLIT */
#footer {
  height: 18.75em;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  float: left;
  padding: 6.25em 15% 1.25em 15%;
  box-sizing: border-box;
  bottom: 0; /* Kiinnittää footerin alareunaan. */
}

.foot i { /* Footerin kuvakkeiden tyylit. */
  color: white;
  font-size: 2.5em;
  padding: 0 0.5em;
}

.foot h2 {
  color: white;
}

.foot {
  display: inline; /* Footerin kuvakkeet linjassa. */
}

/* PORTFOLIO-OSION RAKENNE JA SIIRROT */
#portfolio {
  background-color: white;
  padding-top: 6.25em;
}

.port p {
  padding-bottom: 6.25em;
}

.portfolion_osat {
  width: 100%;
  box-sizing: border-box;
  padding-top: 3.125em;
  float: left;
  background-color: #f3f3f3;
}

.osa-1, .osa-2 { /* Osa yksi ja kaksi vierekkäin. Leveys 50% käytössä olevasta tilasta. */
  width: 35%;
  display: inline;
  background-color: #f3f3f3;
  height: auto;
  color: black;
  float: left;
}

.osa-1 { /* Omat välistykset kummallekin osalle. */
  padding-top: 3.125em;
  padding-left: 15%;
  padding-bottom: 1.25em;
}

.osa-2 {
  padding-top: 3.125em;
  padding-right: 15%;
  padding-bottom: 1.25em;
}

.osa-3 { /* Osa kolme leveydeltään 100%. */
  background-color: #f3f3f3;
  padding-top: 3.125em;
  padding-bottom: 0;
}

/* Portfolio-osion luetteloiden tyylit. */
ul.list { /* Pakottaa luettelojen sisällöt tasaamaan vasemmalle + sisennys 10%. */
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
}

li { /* Välistys luettelon kohteiden välissä */
  margin-top: 0.9375em;
}

/* HARRASTUKSET-OSION RAKENNE JA SIIRROT */
#harrastukset {
  background-color: white;
  padding: 6.25em 15% 6.25em 15%;
}

/* Seuraavat tyylit ohjaavat laatikoita järjestäytymään suhteessa näytön leveyyteen. */
.har_1, .har_2, .har_3, .har_4 { /* Harrastukset-osion laatikot. */
  height: auto;
  width: 43%;
  background-color: #f3f3f3;
  border-radius: 1.875em; /* Laatikon kulmat pyöristettynä. */
}

.har_1, .har_3 {
  float: left;
  margin: 0 1.875em 0 0;
}

.har_2, .har_4 {
  float: right;
  margin: 0 0 0 1.875em;
}

.har p {
  padding:0 0.9375em 2.5em 0.9375em;
}

.har img { /* Laatikoiden sisällä olevat kuvat yläkulmat pyöristettynä. */
  width: 100%;
  border-radius: 1.875em 1.875em 0 0;
}

#har_osa_1 { /* Väli ensimmäisen ja toisen laatikkoparin välissä. */
  display: inline-block;
  margin-bottom: 1.875em;
}

#harrastukset, #portfolio, .osa-3 { /* Yleiset tyylit koko näytön levyisille osioille.  */
  width: 100%;
  height: auto;
  float: left;
  box-sizing: border-box;
}

/* SIVUN YLÄREUNAAN -PAINIKE */
#myBtn {
  display: none;
  position: fixed;
  bottom: 1.25em;
  right: 1%;
  font-size: 2.5em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0,0,0,0.2);
  cursor: pointer;
  padding: 0 0.5em;
  border-radius: 0.25em;
}

.dropdown-content a {
  padding-right: 1.875em;
}

#myBtn:hover {
  color:rgba(0,0,0,0.5);
}

/* TYYLIT MOBIILINÄKYMÄLLE */
@media only screen and (max-width: 768px) {
  [class*="osa-"] { /* Kun näytön leveys vaihtuu Portfolio-osan osiot tulevat koko näytön levyisiksi ja asettuvat allekkain. */
    padding-left: 15%;
    padding-right: 15%;
  }
  .osa-1, .osa-2 {
    width: 70%;
  }
  .osa-3 {
    width: 100%;
  }

  body { /* Kirjasintyypin koko pienenee. */
    font-size: 80%;
  }

  /* NAVIGOINTIPALKIN TYYLIT MOBIILI-NÄKYMÄLLE */
  .menu { /* Ensimmäinen navigointipalkki tulee näkymättömäksi. */
    display: none;
  }

  .menu_2 { /* Navigointipalkki, jossa "hampurilainen" ja dropdown, tulee näkyviin. */
    display: block;
    text-align: right;
    height: 43.8px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    color: #F0EBEB;
    font-size: 0.875em;
    position: fixed;
    margin: 0;
  }

  /* HARRASTUKSET-OSION SIIRROT */
  .har_1, .har_2, .har_3, .har_4 { /* Laatikot järjestäytyvät allekkain. */
    float: left;
    width: 100%;
    display: block;
    height: auto;
    min-height: 18.75em;
    background-color: #f3f3f3;
    margin: 1.25em auto;
    box-sizing: border-box;
  }

  #har_osa_1, #har_osa_2 {
    float: left;
    display: block;
    margin: 0;
    box-sizing: border-box;
  }

  .images img { /* Kuvat laatikoien sisällä suurenevat myös. */
    width: 100%;
    max-width: 21.875em;
    height: auto;
  } 

}